/** General **/

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#ffe1de, #ffce8f);
}

/** Navbar **/

#navbar {
    background-color: rgb(28, 28, 28);
    color: antiquewhite;
    padding-bottom: 1.25rem;
    border-radius: 35px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.437);
    margin: 0.25rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

#navbar header, #navbar li {
    padding: 0.5rem;
}

#navbar header {
    font-size: 1.5rem;
    padding-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#navbar .divider {
    display: block;
    content: "";
    background-color: antiquewhite;
    height: 1px;
    width: 15rem;
    padding: 0;
    margin: auto;
    margin-bottom: 10px;
}

#navbar li {
 list-style-type: none;
}

#navbar .linkblock {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0 40px;
}

#navbar li:first-of-type {
    padding-top: 1rem;
}

#navbar a {
    color: antiquewhite;
    text-decoration: underline dotted antiquewhite 1.5px;
}

/** Main sections **/

.main-section header {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-decoration: underline dotted black 3px;
    text-align: center;
}

.main-section{
    margin-bottom: 5vh;
    padding: 0 12vw;
    text-align: justify;
}

.main-section code {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    background-color: rgb(57, 53, 45);
    color: antiquewhite;
    margin: 0 3vw 1rem 3vw;
    padding: 2vw;
    border-radius: 20px;
}

.main-section li {
    padding: 0 3vw;
    text-align: left;
}